// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'venobox/dist/venobox.min.css';

// Variables
@import 'variables';

// Bootstrap
@import 'bwvariables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch';

::-webkit-scrollbar{
    display: none;
}

.post-detail-img{
    height: 300px;
    object-fit: contain;
}

.gallery {
    columns: 3 200px;
}
.blur-5 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}